html,body{
    height: 100%;
}

body{
    background-color:skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.box{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

@keyframes dotAni{
    50%{
        transform: rotate(0.5turn);
    }
    100%{
        transform: rotate(0.5turn);
    }
}

.dots{
    width: 200px;
    display: flex;
    justify-content: space-around;
    animation: dotAni 1s ease-in-out infinite;
    margin-bottom: 200px;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    
}

@keyframes blockAni{
    0%{
        transform: none;
    }

    25%{
        transform: scaleY(2);
    }

    50%,100%{
        transform: none;
    }
}

.blocks{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.block{
    width: 20px;
    height: 50px;
    background-color: white;
    animation: blockAni 1s ease-in-out infinite;
}

.block:nth-child(2){
    animation-delay: 0.1s;
}

.block:nth-child(3){
    animation-delay: 0.2s;
}

.block:nth-child(4){
    animation-delay: 0.3s;
}

.block:nth-child(5){
    animation-delay: 0.4s;
}